# Services:
# Admin Console, Database, Public Server
version: '3.1'

services:
  dotupdate-db:
    build:
      context: .
      dockerfile: Dockerfile.database
    expose:
      - "3306"
    ports:
      - "3306:3306"
    image: mysql/mysql-server:8.0
    logging:
      driver: none
    healthcheck:
        test: nc -z -v balrogdb 3306
        interval: 30s
        timeout: 30s
        retries: 10
    volumes:
      - ./db:/var/lib/mysql